/Diplomarbeit/Python/image_crop/.idea/
/Diplomarbeit/Python/fashion_mnist_datanalysis/.idea/
/Diplomarbeit/Python/Field_Prototyp/.idea/
/Diplomarbeit/Python/Field_Prototyp/Fields/
/Diplomarbeit/Python/Field_Prototyp/venv/
/Diplomarbeit/Python/fashion_mnist_datanalysis/venv/
/Diplomarbeit/Python/filter_tutorial/venv/
/Diplomarbeit/Python/filter_tutorial/.idea/
/Diplomarbeit/Python/ImageSegmentation1/venv/
/Diplomarbeit/Python/ImageSegmentation1/data/
/Diplomarbeit/Python/ImageSegmentation1/.idea/
/Diplomarbeit/Python/ImageSegmentation_Unet/.idea/
/Diplomarbeit/Python/mnist_fashion/venv/
/Diplomarbeit/Python/mnist_fashion/.idea/
/Diplomarbeit/Python/Multi_otsu/.idea/
/Diplomarbeit/Python/Multi_otsu/venv/
/Diplomarbeit/Python/Pattern_recognision/.idea/
/Diplomarbeit/Python/Pattern_recognision/venv/
/Diplomarbeit/Python/Pattern_recognision/SimpleImageDataset/
/Diplomarbeit/Python/PreTrained_Model/.idea/
/Diplomarbeit/Python/pytorch/venv/
/Diplomarbeit/Python/pytorch/.idea/
/Diplomarbeit/Python/RetinaBloodVessel/.idea/
/Diplomarbeit/Python/RetinaBloodVessel/data/
/Diplomarbeit/Python/RetinaBloodVessel/new_data/
/Diplomarbeit/Python/Tutorial_Mosh/.idea/
/.idea/
